{% extends 'base.html' %}

{% block content %}

    <!-- mulai bikin navbar dari bootstrap -->
    <!-- <nav class="navbar navbar-expand-lg bg-body-tertiary"> -->
    <nav class="navbar bg-dark border-bottom border-bottom-dark navbar-dark" data-bs-theme="light"> <!-- biar dark mode -->
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Khalisha Hana</a>

        <a class="btn btn-primary" href="{% url 'main:logout' %}" role="button">Logout</a>

        </div>
      </nav>
    <!-- akhir kodingan navbar -->

    <h1>Shopping List Page</h1>

    <h5>Name:</h5>
    <p>{{name}}</p>

    <h5>Class:</h5>
    <p>{{class}}</p>

    <table>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Date Added</th>
        </tr>

        {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}

        {% for product in products %}
            <tr>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.description}}</td>
                <td>{{product.date_added}}</td>
                <td>
                    <a href="{% url 'main:edit_product' product.pk %}">
                        <button type="button" class="btn btn-warning">
                            Edit
                        </button>
                    </a>
                    <a href="{% url 'main:delete_product' product.pk %}">
                        <button type="button" class="btn btn-danger">
                            Delete
                        </button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <br />

    <a href="{% url 'main:create_product' %}">
        <button type="button" class="btn btn-success">
            Add New Product
        </button>
    </a>

    <!-- logout pindah ke atas -->
    <!-- <a href="{% url 'main:logout' %}">
        <button>
            Logout
        </button>
    </a> -->

    <h5>Sesi terakhir login: {{last_login}}</h5>
{% endblock content %}